__pycache__/
*.pyc
.env
venv/
.env.local
.idea/
.DS_Store
*~
test.db

# Mobile app
mobile/node_modules/
mobile/platforms/
mobile/plugins/
mobile/.cordova/
mobile/build/
mobile/debug.keystore
mobile/www/logo.png
mobile/www/logo.svg
mobile/docs/
