fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
bcrypt<4
python-multipart
pydantic
jinja2
httpx
cryptography
htmlmin
rcssmin
rjsmin
qrcode
Pillow
moviepy
numpy
cairosvg
