body {
  padding-bottom: calc(var(--pico-spacing) * 4);
}
.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--pico-spacing) 0;
  background: var(--pico-background-color);
  border-top: var(--pico-border-width) solid var(--pico-muted-border-color, #ccc);
}
.bottom-nav a {
  flex: 1;
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}


.bottom-nav a i,
.bottom-nav a .icon {
  font-size: 1.2em;
  width: 1.2em;
  height: 1.2em;
}

#scan-btn i,
#scan-btn .icon {
  font-size: 1.4em;
  width: 1.4em;
  height: 1.4em;
  vertical-align: -0.125em;
  margin-right: 0.25em;
}

.bottom-nav a.active {
  color: var(--pico-primary);
}
.bottom-nav a.active i,
.bottom-nav a.active .icon {
  color: var(--pico-primary);
}


.version {
  text-align: center;
  color: var(--pico-muted-color, #666);
  font-size: 0.8rem;
  margin-top: var(--pico-spacing);
}
