<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Assign QR Code</title>
    <link rel='stylesheet' href='/static/css/pico.min.css'>
    <link rel='stylesheet' href='/static/css/style.css'>
    <link rel="icon" type="image/png" href="/static/img/logo.png">
  </head>
  <body>
    <main class="container">
      {% if machines %}
      <h1>Select Machine</h1>
      <form method="post" action="/q/assign">
        <input type="hidden" name="code" value="{{ code }}" />
        <select name="machine_id">
          {% for m in machines %}
          <option value="{{ m.id }}">{{ m.name }}</option>
          {% endfor %}
        </select>
        <button type="submit">Assign</button>
      </form>
      {% else %}
      <p>No machines are currently registered to your account. Set up a machine in order to configure a QR code.</p>
      <a href="/" class="secondary button">Return Home</a>
      {% endif %}
    </main>
  </body>
</html>
