name: CI
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Load workflow variables
        run: cat .github/workflows/vars.env >> $GITHUB_ENV
      - name: Build Docker image
        run: docker build -t $REGISTRY/${{ github.repository_owner }}/$IMAGE_NAME:sha-$GITHUB_SHA .
