name: Update Screenshots

on:
  workflow_dispatch:
  push:
    branches: [main, beta]


jobs:
  screenshot:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: mobile
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm ci --ignore-scripts
      - run: npx puppeteer browsers install chrome
      - run: node scripts/render-screenshot.js
      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: mobile/docs/screenshot-*.png
